async-generator
attrs
certifi
charset-normalizer
click
exceptiongroup
h11
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
outcome
PySocks
requests
selenium
six
sniffio
sortedcontainers
trio
trio-websockets
undetected-chromedriver
urllib3
websockets
Werkzeug
wsproto
xlwt
zipp
